*{
	margin:0;
	padding:0;
}

#wrapper{
	width:100%;
}

header{
	background-color:#006699;
	height:20%;
}

header img{
	padding-top:1%;
}

#main{
	background-color:#545454;
	color:white;
	height:75%;
	width:100%;
	float:right;
	position:relative;
}


      ol {
        list-style-type:none;
        padding:0;
        margin:0;
        background-color:#FFF;
        font-size:18px;
        height:2em;
        line-height:2em;
        text-align:center;
		
      }

      
      ol a {
        display:block;
        text-decoration:none;
        color:#000;
        padding:0 5;
      }

      
      ol > li {
        float:left;
        width:25%;
        background-color:#006699;
        height:100%;
      }

      
      ol > li:first-child {
        margin-left:0;
      }

      
      ol > li:hover > ul {
        display:block;
      }

     
      ol > li > ul {
        display:none;
        list-style-type:none;
        padding:0;
        margin:0;
      }

   
      ol > li > ul > li {
        position:relative;
        background-color:#006699;
      }


      ol > li > ul > li:hover > a {
        border:1px solid black;
      }

footer{
	height:5%;
	background-color:#006699;
	position: fixed;
	bottom:0;
	clear:both;
	font-size:0.8em;
	width:100%;
}

	